@model NewsAggregator.Models.News

<!DOCTYPE html>

<html>
<head>
    <title>Detailed</title>
</head>
<body>
<br/>
<div>
    <span class="date">@Model.TimeOccurrence</span>
    <table>
        <tr>
            <td>
                <p class="titleDetail">@Model.Title</p>
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                <img src="@Model.PictureHref" width="350" height="300" alt=@Model.Summary>
            </td>
        </tr>
        <tr>
            <td class="desc">
                <p>@Model.DetailDescription</p>
            </td>
        </tr>
        <tr>
            <td>
                <a>@Model.SoucreUrl</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>@Model.Source</p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>