@using NewsAggregator.Models
@model IEnumerable<NewsShort>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewsAggregator</title>
    
</head>
<body>
    <div>
        <div class="content">
            @foreach (var news in Model)
            {
                <div class="newsItem">
                    <div class="tableDiv">
                        <div class="imageDiv"><img class="mainNews" src="@news.PictureHref" width="200" height="120" alt=@news.Summary></div>
                        <div class="col-md-5 cellDiv">
                            <p class="newsTitle">@news.Title</p>
                            <p class="date">@news.TimeOccurrence</p>
                        </div>
                        <div class="col-md-5 cellDiv">
                            <p>@news.Summary</p>
                            <p>
                                <a href="/Home/Detailed/@news.Id">Читать подробнее</a>
                            </p>
                        </div>
                        <div class="col-md-2 cellDiv">
                            <span class="sourceText">@news.Source</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>